<header
  class="bg-gradient-to-r from-purple-600 via-pink-500 to-red-500 text-white"
>
  <div class="container mx-auto px-4 py-20 text-center">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">
      ¡Hey! 👋🏼 Soy <span class="text-white">Jose Rodriguez</span>
    </h1>
    <p class="text-xl md:text-2xl mb-8">Encantado de conocerte</p>
    <div class="flex justify-center space-x-4">
      <a
        href="assets/document/Jose_Rodriguez_Resume_2024.pdf"
        download="Jose_Rodriguez_Resume_2024"
        class="bg-white text-purple-600 px-6 py-3 rounded-full font-semibold hover:bg-gray-100 transition duration-300"
        >Descargar CV</a
      >
      <a
        href="#aboutMe"
        class="bg-purple-700 px-6 py-3 rounded-full font-semibold hover:bg-purple-800 transition duration-300"
        >Sobre mí</a
      >
    </div>
  </div>
</header>
